.page {
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;   
    padding: 40px;
    gap: 30px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    inline-size: 100%;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
}

.users-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 20px;
    inline-size: 100%;
    
    & .card {
         display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #2E2D4E;
        inline-size: 100%;
        max-inline-size: 400px;
    }
    
}

.container h1 {
    color: #fff;
    font-size: 28px;
    margin-block-end: 20px;
    text-align: center;
  
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2E2D4E;
    inline-size: 50%;
    max-inline-size: 400px;
    margin-block-end: 20px;

    & button {
        border-radius: 30px;
        background-color: #8B8AE1;
        border: none;
        font-weight: bold;
        cursor: pointer;
        color: #fff;
         padding: 10px;
         font-size: 14px;
    }

    & button:hover {
        opacity: 0.8;

    }
    & input {
        border: 1px solid #48456c;
        border-radius: 30px;
        block-size: 40px;
        background-color: #363653;
        color: #fff;
        font-size: 16px;
        padding-inline-start: 10px;
        outline: none;

        & p { 
        color: #fff;
        font-weight: bold;

        & span {
            font-weight: normal;

        }

    }
    
    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    & button:hover {
        opacity: 0.6;

    }
        
    }
}


